<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />

  <arg name="ZONE_X" default="$(env ZONE_X)" />
  <arg name="ZONE_Y" default="$(env ZONE_Y)" />
  <arg name="ZONE_Z" default="$(env ZONE_Z)" />

  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />

  <!-- other args -->
  <arg name="debug" default="false" />
  <arg name="standalone" default="true" />
  <arg name="custom_config" default="" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg name="nodelet_manager_name" default="" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg nodelet_manager_name)" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="prm_solver" args="$(arg nodelet) prm_solver/PRM $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)" respawn="false">

      <rosparam file="$(find prm_solver)/config/prm_solver.yaml" command="load" />

      <param name="uav_name" value="$(arg UAV_NAME)" />

      <param name="zone_x" value="$(arg ZONE_X)" />
      <param name="zone_y" value="$(arg ZONE_Y)" />
      <param name="zone_z" value="$(arg ZONE_Z)" />

      <!-- topics in -->
      <remap from="~tracker_cmd_in" to="control_manager/tracker_cmd" />
      <remap from="~octomap_in" to="octomap_server/octomap_global_full" />
      <remap from="~diagnostics_in" to="control_manager/diagnostics" />
      <remap from="~frontiers_in" to="frontier_detector/frontiers" />

      <!-- services in -->
      <remap from="~find_simplified_path_in" to="~find_simplified_path" />

    </node>

  </group>

</launch>
