<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />

  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />

  <!-- other args -->
  <arg name="debug" default="false" />
  <arg name="standalone" default="true" />
  <arg name="custom_config" default="" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg name="nodelet_manager_name" default="" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg nodelet_manager_name)" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="skeleton_estimator" args="$(arg nodelet) skeleton_estimator/SkeletonEstimator $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)" respawn="false">

      <rosparam file="$(find skeleton_estimator)/config/skeleton_estimator.yaml" command="load" />
      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <param name="world_frame_id" value="$(arg UAV_NAME)/world_origin" />

      <!-- topics in -->
      <remap from="~octomap_points_in" to="octomap_global_vis/octomap_point_cloud_centers" />
      <remap from="~source_skeleton_in" to="/source_skeleton" />
      <remap from="~target_skeleton_in" to="/rosa_vis/rr_lines" />
      <remap from="~source_viewpoints_in" to="/source_viewpoints" />

      <!-- topics out -->
      <remap from="~input_cloud_out" to="/rosa_vis/input_cloud" />
      <remap from="~skeleton_points_out" to="/rosa_vis/rr_pts" />
      <remap from="~skeleton_lines_out" to="/rosa_vis/rr_lines" />
      <remap from="~skeleton_vertex_ids_out" to="/rosa_vis/vertex_ID" />
      <remap from="~transformed_skeleton_out" to="transformed_skeleton" />
      <remap from="~ransac_skeleton_out" to="ransaced_skeleton" />
      <remap from="~candidate_viewpoints_out" to="candidate_viewpoints" />

    </node>

  </group>

</launch>
